@font-face {
    font-family: titlefont;
    src: url("../MyriadPro-SemiExt.otf") format("opentype");
}

@font-face {
    font-family: bodyfont;
    src: url("../Pelita-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: secondary;
    src: url("../opensans.ttf") format("truetype");
}

:root {
    --primary-color: #34495e; /* Dark Slate Blue */
    --secondary-color: #16a085; /* Sea Green */
    --accent-color: #2ecc71; /* Emerald */
    --text-color: #ecf0f1; /* Clouds */
    --background-color: #95a5a6; /* Concrete */
}

body {
    font-family: bodyfont;
    color: var(--text-color);
    background-color: var(--background-color);
}

.parent-container {
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-position: 100% 100%;
    background-size: cover;
}

.introduction {
    font-family: titlefont;
    text-align: left;
    width: 100%;
    padding: 10px;
}

.title-container {
    position: relative;
    padding-bottom: 20px;
}

.aboutmetext {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    color: var(--secondary-color);
    width: 80%;
    font-family: secondary;
    font-size: 18px;
}

.titlehover {
    color: var(--accent-color);
    font-size: 65px;
    transition: color 0.3s ease;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 0;
}

.titlehover:hover {
    color: var(--secondary-color);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.titlehoversubtext {
    color: rgba(255, 255, 255, 0.6);
    font-size: 25px;
    font-family: bodyfont;
    text-align: left;
    transition: color 0.3s ease;
    position: absolute;
    margin-top: -10px;
}

.titlehover:hover ~ .titlehoversubtext {
    color: var(--text-color);
}

.project-content {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    font-weight: 500;
    padding: 10px;
    transition: background-color 0.5s ease, opacity 0.5s ease;
    margin-top: -20px;
}

.project-content:hover {
    background-color: darken(rgba(0, 0, 0, 0.5), 10%);
    opacity: 0.8;
}

/* Ensure to adapt other elements of your CSS to align with this modern and techy theme, using the color variables defined in :root for consistency. */

/* Responsive Design */
@media (max-width: 750px) {
    /* Responsive adjustments for smaller screens */
}
