@font-face {
    font-family: titlefont;
    src: url("../MyriadPro-SemiExt.otf") format("opentype");
}

@font-face {
    font-family: bodyfont;
    src: url("../Pelita-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: secondary;
    src: url("../opensans.ttf") format("truetype");
}

:root {
    --primary-color: #2c3e50; /* Dark Navy */
    --secondary-color: #95a5a6; /* Soft Grey */
    --accent-color: #7f8c8d; /* Slate Grey */
    --text-color: #ecf0f1; /* Light Grey */
    --background-color: #bdc3c7; /* Light Silver */
}

body {
    font-family: bodyfont;
    color: var(--text-color);
    background-color: var(--background-color);
}

.parent-container {
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-position: 100% 100%;
    background-size: cover;
}

.introduction {
    font-family: titlefont;
    text-align: left;
    width: 100%;
    padding: 10px;
}

.title-container {
    position: relative;
    padding-bottom: 20px;
}

.aboutmetext {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    color: var(--secondary-color);
    width: 80%;
    font-family: secondary;
    font-size: 18px; /* Adjusted for better readability */
}

.titlehover {
    color: var(--accent-color);
    font-size: 65px;
    transition: color 0.3s ease;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 0;
}

.titlehover:hover{
    color: var(--secondary-color);
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.titlehoversubtext {
    color: rgba(95, 105, 106, 0.62);
    font-size: 25px;
    font-family: bodyfont;
    text-align: left;
    transition: color 0.3s ease;
    position: absolute;
    margin-top: -10px;
}

.titlehover:hover ~ .titlehoversubtext {
    color: rgba(98, 170, 192, 0.85);
}

.project-content {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--primary-color);
    font-weight: 500;
    opacity: 0.7;
    padding: 10px;
    transition: background-color 0.5s ease, opacity 0.5s ease;
    margin-top: -20px;
}

.project-content:hover {
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
}

/* Other CSS elements are kept consistent with your original structure, 
   adapted to the minimalist theme with the defined color variables. */

/* Responsiveness and Media Queries as per your original structure */
@media(max-width:750px){
    /* Adjustments for smaller screens */
}
