@font-face {
    font-family: titlefont;
    src: url("../neuropolitical.ttf") format("truetype");
}
@font-face {
    font-family: bodyfont;
    src: url("../RobotoCondensed.ttf") format("truetype");
    font-weight: 300;
}


/* Neon Color Palette */
:root {
    --primary-color: #0f0c29; /* Deep Space */
    --secondary-color: #302b63; /* Galactic Purple */
    --accent-color: #fc2f00; /* Laser Red */
    --text-color: #e5e5e5; /* Moonlight White */
    --background-color: #080710; /* Black Hole */
}

/* Animated Background */
body {
    font-family: bodyfont;
    color: var(--text-color);
    background: linear-gradient(270deg, var(--primary-color), var(--secondary-color));
    background-size: 400% 400%;
    animation: AnimationName 15s ease infinite;
}

@keyframes AnimationName { 
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Parent Container */
.parent-container {
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

/* Introduction */
.introduction {
    font-family: titlefont;
    text-align: left;
    width: 100%;
    padding: 10px;
    color: var(--secondary-color);
}

/* Title Container */
.title-container {
    position: relative;
    padding-bottom: 20px;
}

/* About Me Text */
.aboutmetext {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    color: var(--secondary-color);
    width: 80%;
    font-family: bodyfont;
    font-size: 18px;
}

/* Title Hover */
.titlehover {
    color: var(--accent-color);
    font-size: 65px;
    transition: color 0.3s ease, transform 0.3s ease;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 0;
    text-shadow: 0 0 5px var(--accent-color);
}

.titlehover:hover {
    color: var(--secondary-color);
    text-shadow: 0 0 10px var(--accent-color), 0 0 20px var(--accent-color);
    transform: scale(1.1);
}

.titlehoversubtext {
    color: rgba(78, 205, 196, 0.62);
    font-size: 25px;
    font-family: bodyfont;
    text-align: left;
    transition: color 0.3s ease;
    position: absolute;
    margin-top: -10px;
}

/* Hover Effect on Title Hover and Subtext */
.titlehover:hover ~ .titlehoversubtext {
    color: rgba(98, 170, 192, 0.85);
}

/* Project Content */
.project-content {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--text-color);
    font-weight: 500;
    opacity: 0.7;
    padding: 10px;
    transition: background-color 0.5s ease, opacity 0.5s ease, transform 0.3s ease;
    margin-top: -20px;
}

.project-content:hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transform: translateY(-5px);
}

/* Responsiveness */
@media (max-width: 750px) {
    .parent-container {
        padding: 10px;
    }
    .aboutmetext, .introduction {
        width: 100%;
    }
    .titlehover {
        font-size: 48px;
    }
    .titlehoversubtext {
        font-size: 20px;
    }
}
