
@font-face {
    font-family: titlefont;
    src: url("../MyriadPro-SemiExt.otf") format("opentype");
}

@font-face {
    font-family: bodyfont;
    src: url("../Pelita-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: secondary;
    src: url("../opensans.ttf") format("truetype");
}

/* Retro Color Palette */
:root {
    --primary-color: #ff7597; /* Neon Pink */
    --secondary-color: #4dfcff; /* Aqua */
    --accent-color: #c0ff00; /* Neon Green */
    --text-color: #ffffff; /* White */
    --background-color: #000; /* Black */
}

body {
    font-family: bodyfont;
    color: var(--text-color);
    background-color: var(--background-color);
}

.parent-container {
    padding: 30px;
}

.introduction {
    font-family: titlefont;
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.title-container {
    margin-top: 30px;
}

.aboutmetext {
    color: var(--accent-color);
    font-family: bodyfont;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border: 1px dashed var(--primary-color);
}

.titlehover {
    font-size: 50px;
    color: var(--secondary-color);
}

.project-content {
    background: rgba(0, 0, 0, 0.5);
    border-left: 5px solid var(--accent-color);
    padding: 10px;
}

@media (max-width: 750px) {
    /* Responsive adjustments */
}

/* Additional retro wave styling */
