@font-face {
    font-family: titlefont;
    src: url("../MyriadPro-SemiExt.otf") format("opentype");
}

@font-face {
    font-family: bodyfont;
    src: url("../Pelita-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: secondary;
    src: url("../opensans.ttf") format("truetype");
}

:root {
    --primary-color: #333333; /* Charcoal Grey */
    --secondary-color: #FF6347; /* Tomato Red */
    --accent-color: #FFC107; /* Amber */
    --text-color: #ECECEC; /* Light Grey */
    --background-color: #1A1A1A; /* Almost Black */
}

body {
    font-family: bodyfont, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--primary-color);
}

.introduction {
    font-family: titlefont, sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    color: var(--secondary-color);
}

.title-container {
    position: relative;
}

.aboutmetext {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    color: var(--accent-color);
    width: 80%;
    font-family: secondary, sans-serif;
    font-size: 18px;
}

.titlehover {
    font-size: 48px;
    color: var(--secondary-color);
    cursor: pointer;
    transition: color 0.3s ease;
}

.titlehover:hover {
    color: var(--accent-color);
}

.project-content {
    background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent dark background for depth */
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    color: var(--text-color);
    padding: 15px;
    margin: 20px 0;
    transition: border-color 0.3s ease;
}

.project-content:hover {
    border-color: var(--accent-color);
}

/* Further styles for buttons, links, form inputs, etc., will continue the urban chic color theme and styling */

/* Responsive Design */
@media (max-width: 750px) {
    .aboutmetext { padding: 0 5%; }
    /* Additional responsive style adjustments */
}
